%h1 Editing question

= render 'form'

=content_for :page_actions do
  %li= link_to 'Back to course', @question.course, class:"btn btn-info"
.well.previous-question
  %h5 previous question
  -q = Question.last
  =link_to q.index_number.to_s + "- " + q.question, edit_question_path(q) if q.present?
