-q = Question.last
%br
%h3
  ="New question for"
  ="#{ @question.course.name}"

= render 'form'
.well.previous-question
  %h5 previous question

  =link_to q.index_number.to_s + "- " + q.question, edit_question_path(q) if q.present?
=content_for :page_actions do
  %li= link_to 'Back to course', @question.course, class:"btn btn-info"
