.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header

      =link_to "HOME", root_path, class:"navbar-brand"
      %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav

      %ul.nav.navbar-nav.navbar-right
        =yield (:page_actions) if content_for?(:page_actions)
